@import '../node_modules/font-awesome/css/font-awesome.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../node_modules/bootstrap/dist/css/bootstrap-theme.css';

.titleBox{
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid white;
  border-bottom: 7px solid white;
  margin-right: 6px;
  border-radius: 100%;
}

.chuckMain {
  padding: 5px 30px 5px 30px;
  margin-bottom: 45px;
}

.boqzheader{
  background-color: rgb(181, 0, 0);
  color: white;
  padding: 12px;
  padding-left: 30px;
  font-size: 20px;
  letter-spacing: 6px;
  box-shadow: 2px 2px 3px lightgrey;
}

.boqzfooter{
  background-color: rgb(181, 0, 0);
  position: fixed;
  bottom:0px;
  width: 100vw;
  color: white;
  padding: 8px;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
}


.message {
  margin-left: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  border-bottom: 1px solid #efefef;
}

.message a {
  color: black;
}

.message a:hover, .message a:active, .message a:focus {
  text-decoration: none;
}

.message + .message {
  border-top: 1px solid #efefef;
}

.message.read {
  background: #efefef;
}

.message.unread {
  font-weight: bold;
}

.message.selected {
  background: #ffffcc;
}

.message:hover {
  margin-left: -3px;
  border-left: 3px solid #ccc;
}

.message-body {
  background: #ccc;
  margin-left: 0;
  margin-bottom: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.toolbar {
  margin-top: 1em;
  margin-bottom: 1em;
}

.toolbar .label-select {
  width: auto;
  display: inline;
}

.toolbar select,
.toolbar button,
.toolbar a,
.toolbar .badge {
  margin-right: .5em;
  margin-bottom: .5em;
}

footer.spacer {
  margin-bottom: 20em;
}

.label {
  margin-right: .5em;
}

.fa-close {
  cursor: pointer;
}
